{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>App Admin Portal</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="{% static '/app/style_admin.css'%}">
</head>
<body>
    <div class = "sidebar">
        <div class = "sidebar-brand">
            <hl>Admin Portal</hl>
        </div>
        <div class = "sidebar-menu">
            <ul>
                <li>
                    <a href="/admin_dashboard"><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/admin_statistics"><span class="las la-table"></span><span>Statistics</span></a>
                </li>
                <li>
                    <a href="/admin_users" class = "active"><span class="las la-users"></span><span>Users</span></a>
                </li>
                <li>
                    <a href="/admin_apartments"><span class="las la-building"></span><span>Apartments</span></a>
                </li>
                <li>
                    <a href="/admin_rentals"><span class="las la-file-invoice-dollar"></span><span>Rentals</span></a>
                </li>
                <li>
                    <a href="/admin_bookings"><span class="las la-calendar-check"></span><span>Bookings</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class = "main-content">
        <main>
            <a href="/admin_users"><button class="button button1">Back</button></a>
            <br/><br/>
            <table style='text-align:left'>
                <tr>
                    <th>Email</th>
                    <td>:</td>
                    <td> {{ user.2 }} </td>
                </tr>
                <tr>
                    <th>First name</th>
                    <td>:</td>
                    <td> {{ user.0 }} </td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td>:</td>
                    <td> {{ user.1 }} </td>
                </tr>
                <tr>
                    <th>Date of birth</th>
                    <td>:</td>
                    <td> {{ user.4 }} </td>
                </tr>
                <tr>
                    <th>Date of registration</th>
                    <td>:</td>
                    <td> {{ user.5 }} </td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>:</td>
                    <td> {{ user.6 }} </td>
                </tr>
                <tr>
                    <th>Credit card type</th>
                    <td>:</td>
                    <td> {{ user.7 }} </td>
                </tr>
                <tr>
                    <th>Credit card number</th>
                    <td>:</td>
                    <td> {{ user.8 }} </td>
                </tr>
            </table>
        
            <br/><br/>
        
            <h2>Rental History</h2>
            <table border=1>
                <thead>
                    <th>Apartment ID</th>
                    <th>Host Email</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Total Price</th>
                    <th>Rating</th>
                </thead>
                {% for rental in records %}
                <tr>
                    <td> {{ rental.0 }} </td>
                    <td> {{ rental.1 }} </td>
                    <td> {{ rental.2 }} </td>
                    <td> {{ rental.3 }} </td>
                    <td> {{ rental.4 }} </td>
                    <td> {{ rental.5 }} </td>
                    <td> {{ rental.6 }} </td>
                    <td> {{ rental.7 }} </td>
                </tr>
                {% endfor %}
            </table>
        </main>
    </div>