{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>App Admin Portal</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="{% static '/app/style_admin.css'%}">
</head>
<body>
    <div class = "sidebar">
        <div class = "sidebar-brand">
            <hl>Admin Portal</hl>
        </div>
        <div class = "sidebar-menu">
            <ul>
                <li>
                    <a href="admin_dashboard" ><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="admin_statistics" class = "active"><span class="las la-table"></span><span>Statistics</span></a>
                </li>
                <li>
                    <a href="admin_users"><span class="las la-users"></span><span>Users</span></a>
                </li>
                <li>
                    <a href="admin_apartments"><span class="las la-building"></span><span>Apartments</span></a>
                </li>
                <li>
                    <a href="admin_rentals"><span class="las la-comment-dollar"></span><span>Rentals</span></a>
                </li>
                <li>
                    <a href="admin_bookings"><span class="las la-calendar-check"></span><span>Bookings</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class = "main-content">
        <main>
            <a href="/admin_statistics"><button class="button button1">Back</button></a>
            <h2>The total values of transactions for each credict card type partitioned by guest nationality</h2>
            <br>
            <div>
                <table border=1>
                    <thead>
                        <th>Rank</th>
                        <th>Guest nationality</th>
                        <th>Credit card type</th>
                        <th>Total values of transactions</th>
                    </thead>
                    {% for i in table %}
                    <tr>
                        <td> {{ i.3 }} </td>
                        <td> {{ i.0 }} </td>
                        <td> {{ i.1 }} </td>
                        <td> {{ i.2 }} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
</body>
</html>