{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>App Admin Portal</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href="{% static '/app/style_admin.css'%}">
</head>
<body>
    <div class = "sidebar">
        <div class = "sidebar-brand">
            <hl>Admin Portal</hl>
        </div>
        <div class = "sidebar-menu">
            <ul>
                <li>
                    <a href="/admin_dashboard"><span class="las la-igloo"></span><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/admin_statistics"><span class="las la-table"></span><span>Statistics</span></a>
                </li>
                <li>
                    <a href="/admin_users" class = "active"><span class="las la-users"></span><span>Users</span></a>
                </li>
                <li>
                    <a href="/admin_apartments"><span class="las la-building"></span><span>Apartments</span></a>
                </li>
                <li>
                    <a href="/admin_rentals"><span class="las la-file-invoice-dollar"></span><span>Rentals</span></a>
                </li>
                <li>
                    <a href="/admin_bookings"><span class="las la-calendar-check"></span><span>Bookings</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class = "main-content">
        <main>
            <a href="/admin_users"><button class="button button1">Back</button></a>
            <br/><br/>
            <p style="color:red">{{ status|safe }}</p>
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                <!-- form -->
                <div id="div_id_first_name" class="control-group">
                    <label for="id_first_name" class="control-label requiredField">
                        First name
                        <span class="asteriskField">*</span> 
                    </label>
                    <div class="controls">
                        <input 
                            type="text" name="first_name"
                            minlength="1"
                            maxlength="16" class="textinput textInput" 
                            required="" id="id_first_name">
                    </div>
                </div>
                
                <div id="div_id_last_name" class="control-group">
                    <label for="id_last_name" class="control-label requiredField">
                        Last name
                        <span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input
                            type="text" name="last_name"
                            minlength="1"
                            maxlength="16" class="textinput textInput" 
                            required="" id="id_last_name">
                    </div>
                </div>
        
                <div id="div_id_email" class="control-group">
                    <label for="id_email" class="control-label requiredField">
                        Email
                        <span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input
                            type="text" name="email"
                            minlength="1"
                            maxlength="64" class="textinput textInput" 
                            required="" id="id_email">
                    </div>
                </div>


                <div id="div_id_password" class="control-group">
                    <label for="id_password" class="control-label requiredField">
                        Password
                        <span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input
                            type="text" name="password"
                            minlength="8"
                            maxlength="32" class="textinput textInput" 
                            required="" id="id_password">
                    </div>
                </div>


                <div id="div_id_dob" class="control-group">
                    <label for="id_dob" class="control-label requiredField">
                        Date of birth (yyyy-mm-dd)
                        <span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input 
                            type="text" name="date_of_birth" 
                            class="dateinput"
                            minlength="10"
                            maxlength="10"
                            required="" id="id_dob">
                    </div>
                </div>
                
                
                <div id="div_id_country" class="control-group">
                    <label for="id_country" class="control-label requiredField">
                        Country
                        <span class="asteriskField">*</span> 
                    </label>
                    <div class="controls">
                        <input 
                            type="text" name="country" 
                            minlength="2"
                            maxlength="32" class="textinput textInput" 
                            required="" id="id_country">
                    </div>
                </div>
        
                
                <div id="div_ccard_type" class="control-group">
                    <label for="id_ccard_type" class="control-label requiredField">
                        Credit card type
                        <span class="asteriskField">*</span> 
                    </label>
                    <div class="controls">
                        <input 
                            type="radio" value="mastercard"
                            name="credit_card_type" id="id_ccard_type" {{ mastercard }}>
                        <label for="mastercard">Mastercard</label>
        
                        <input 
                            type="radio" value="visa"
                            name="credit_card_type" id="id_ccard_type" {{ visa }}>
                        <label for="visa">Visa</label>
        
                        <input 
                            type="radio" value="americanexpress"
                            name="credit_card_type" id="id_ccard_type" {{ americanexpress }}>
                        <label for="americanexpress">American Express</label>
                    </div>
                </div>
        
        
                <div id="div_ccard_no" class="control-group">
                    <label for="id_ccard_no" class="control-label requiredField">
                        Credit card number
                        <span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input 
                            type="tel" name="credit_card_no"
                            inputmode="numeric" pattern="[0-9\s]{13,16}"
                            minlength="16"
                            maxlength="16" class="textinput textInput" 
                            required="" id="id_ccard_no">
                    </div>
                </div>

                <br>
                <button class = "button button1" name="action" type="submit" value="Add">Add</button>
            </form>
        </main>
    </div>    
