<html>
<head>
    <title>Apartment Details</title>
</head>    
<body>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        
    .bg {
        /* The image used */
        background-image: linear-gradient(rgba(1,10,206,0.2),rgba(1,10,206,0.2)),url("../../static/app/images/home1.jpg");
        /* Full height */
        height: 100%; 
        /* Center and scale the image nicely */
        background-position: center;
        position: relative;
        background-size: cover;
        }
    </style>
    <div class="bg">
    <h2 style "color:white">Details for Apartment {{ apt.0 }}</h2>
    <a  style "color:white" href="/search">Back to list of apartments</a>
    <br/><br/>


    <table style='text-align:left',"color:white">
        <tr>
            <th>Host</th>
            <td>:</td>
            <td> {{ apt.1 }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ apt.2 }} </td>
        </tr>
        <tr>
            <th>City</th>
            <td>:</td>
            <td> {{ apt.3 }} </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{ apt.4 }} </td>
        </tr>
        <tr>
            <th>Number of guests allowed</th>
            <td>:</td>
            <td> {{ apt.5 }} </td>
        </tr>
        <tr>
            <th>Number of beds</th>
            <td>:</td>
            <td> {{ apt.6 }} </td>
        </tr>
        <tr>
            <th>Number of bathrooms</th>
            <td>:</td>
            <td> {{ apt.7 }} </td>
        </tr>
        <tr>
            <th>Property type</th>
            <td>:</td>
            <td> {{ apt.8 }} </td>
        </tr>
        <tr>
            <th>Amenities</th>
            <td>:</td>
            <td> {{ apt.9 }} </td>
        </tr>
        <tr>
            <th>House rules</th>
            <td>:</td>
            <td> {{ apt.10 }} </td>
        </tr>
        <tr>
            <th>Price per night</th>
            <td>:</td>
            <td> {{ apt.11 }} </td>
        </tr>
        <tr>
            <th>Overall rating</th>
            <td>:</td>
            <td> {{ apt.13 }} </td>
        </tr>
        <tr>
            <button>Book Apartment (to implement)</button>
        </tr>
    </table>

</body>
</html>
