{% load static %}
<html>
<head>
    <title>Apartment Details</title>
    <link rel = "stylesheet" href = "{% static '/app/style.css' %}">
    <script type="text/javascript" src="{% static 'app/link-modifier.js' %}"></script>
    
</head>    
<body>
    <div class="topnav">
        <a href="/" title="Go to homepage" id="authhome">Home</a>
        <a class="active" href="/search" title="Search all apartments" id="authapt">Apartments</a>
        <a href="/login" title="Login here" id="authuser">Login</a>
    </div>

    <div id="apartment_bg">

        <h2>Details for Apartment {{ apt.0 }}</h2>

        <br/><br/>

        <table class="single_view">
            <tr>
                <th>Host</th>
                <td>:</td>
                <td> {{ apt.host }} </td>
            </tr>
            <tr>
                <th>Country</th>
                <td>:</td>
                <td> {{ apt.country }} </td>
            </tr>
            <tr>
                <th>City</th>
                <td>:</td>
                <td> {{ apt.city }} </td>
            </tr>
            <tr>
                <th>Address</th>
                <td>:</td>
                <td> {{ apt.address }} </td>
            </tr>
            <tr>
                <th>Number of guests allowed</th>
                <td>:</td>
                <td> {{ apt.num_guests }} </td>
            </tr>
            <tr>
                <th>Number of beds</th>
                <td>:</td>
                <td> {{ apt.num_beds }} </td>
            </tr>
            <tr>
                <th>Number of bathrooms</th>
                <td>:</td>
                <td> {{ apt.num_bathrooms }} </td>
            </tr>
            <tr>
                <th>Property type</th>
                <td>:</td>
                <td> {{ apt.property_type }} </td>
            </tr>
            <tr>
                <th>Amenities</th>
                <td>:</td>
                <td> {{ apt.amenities }} </td>
            </tr>
            <tr>
                <th>House rules</th>
                <td>:</td>
                <td> {{ apt.house_rules }} </td>
            </tr>
            <tr>
                <th>Price per day</th>
                <td>:</td>
                <td> {{ apt.price }} </td>
            </tr>
            <tr>
                <th>Overall rating</th>
                <td>:</td>
                <td> {{ apt.avg_rating }} </td>
            </tr>
            <tr>
              
            </tr>
        </table>
        
        
        <br/><br/>
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form -->


            <div id="div_id_year" class="control-group">
                <label for="id_year">
                    Year 
                    <span class="asteriskField">*</span> 
                </label>
                <div class="controls">
                    <input 
                        type="number" name="year" 
                        class="textinput textInput" 
                        min="2022" step="1"
                        required="" id="id_year">
                </div>
            </div>


            <div id="div_id_month" class="control-group">
                <label for="id_month">
                    Month
                    <span class="asteriskField">*</span> 
                </label>
                <div class="controls">
                    <input 
                        type="number" name="month" 
                        class="textinput textInput" 
                        min="1" max="12" step="1"
                        required="" id="id_month">
                </div>
            </div>

            <br>
            <a href="">
                <button type="submit" name=action value="checkavail">Check Availability</button>
            </a>
        </form>
        
        <br/><br/>
        <p>Days available for booking in {{ dates_avail.month }} {{ dates_avail.year }}:</p>
        <p>{{ dates_avail.dates }}</p>

    </div>
     <form method="POST" style:"margin-left:70px">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form -->
            <h1>Booking</h1>
      
            <div id="div_id_login_email" class="control-group">
                <label for="id_login_email" class="control-label requiredField">
                    User Email
                    <span class="asteriskField">*</span> 
                </label>
                <div class="controls">
                    <input 
                        type="text" name="login_email" 
                        maxlength="64" class="textinput textInput" 
                        required="" id="id_login_email">
                </div>
            </div>
      
            <div id="div_id_password" class="control-group">
                <label for="id_password" class="control-label requiredField">
                    Enter your password
                    <span class="asteriskField">*</span>
                </label>
                <div class="controls">
                    <input 
                        type="password" name="password" 
                        maxlength="32" class="textinput textInput" 
                        required="" id="id_password">
                </div>
            <div id="div_id_check_in" class ="control-group">
                <label for = "id_check_in" class="control-label requiredField">
                    Check-in date
                    <span class = "asteriskField">*</span>
                </label>
                <div class="controls">
                    <input
                        type="text" name="check_in"
                        class="dateinput" required=""
                        id="id_check_in">
                </div>
                <div id="div_id_check_out" class ="control-group">
                    <label for = "id_check_out" class="control-label requiredField">
                        Check-out date
                        <span class = "asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input
                            type="text" name="check_out"
                            class="dateinput" required=""
                            id="id_check_out">
                    </div>
            </div>
            </div>
      
            <button type="submit" name="action " value="book">Book</button>
         
        </form>
        

    

</body>
</html>
