{% load static %}
<html>
<head>
    <title>User Details</title>
    {% include 'header_.html' %}
</head>    
<body>
    <div class="topnav">
        <a href="/" title="Go to homepage" id="authhome">Home</a>
        <a href="/search" title="Search all apartments" id="authapt">Apartments</a>
        <a class="active" href="/login" title="Login here" id="authuser">Login</a>
        <a href="/" title ="Logout" id="authout">Logout</a>
    </div>

    <br/>

    <div>
        <a class="active" href="" title="View history of bookings and rentals" id="authuser1">Manage as a Guest</a>
        <a href="" title="View your apartments and manage bookings" id="authuser2">Manage as a Host</a>
    </div>

    <br/>

    <h2>Details for {{user.first_name}} {{user.last_name}}</h2>
    
    <br/>


    <table style='text-align:left'>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ user.email }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ user.first_name }} </td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>:</td>
            <td> {{ user.last_name }} </td>
        </tr>
        <tr>
            <th>Date of birth</th>
            <td>:</td>
            <td> {{ user.date_of_birth }} </td>
        </tr>
        <tr>
            <th>Date of registration</th>
            <td>:</td>
            <td> {{ user.since }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{ user.country }} </td>
        </tr>
    </table>

    <br/><br/>

    <h2>Current Bookings</h2>
    <p style="color:red">{{ delete_booking_status|safe }}</p>
    <table border=1>
        <thead>
            <th>Country</th>
            <th>City</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Total Price</th>
            <th>Action</th>
        </thead>
        {% for bk in bookings %}
        <tr>
            <td> {{ bk.country }} </td>
            <td> {{ bk.city }} </td>
            <td> {{ bk.check_in }} </td>
            <td> {{ bk.check_out }} </td>
            <td> {{ bk.total_price }} </td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input 
                        type="hidden" name="tempbooking_id" 
                        value={{ bk.tempbooking_id }}>
                    <button type="submit" name="action" value="delete_booking">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br/><br/>

    <h2>Rental History</h2>
    <p style="color:red">{{ rate_status|safe }}</p>
    <table border=1>
        <thead>
            <th>Country</th>
            <th>City</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Total Price</th>
            <th>Rating</th>
            <th>Action</th>
        </thead>
        {% for rental in rentals %}
        <tr>
            <td> {{ rental.country }} </td>
            <td> {{ rental.city }} </td>
            <td> {{ rental.check_in }} </td>
            <td> {{ rental.check_out }} </td>
            <td> {{ rental.total_price }} </td>
            <td> {{ rental.rating }} </td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input 
                        type="hidden" name="rental_id" 
                        value={{ rental.rental_id }}>
                    <input 
                        type="number" name="rating"
                        min="1" max="5" step="1">
                    <button type="submit" name="action" value="rate">
                        Add/Update Rating
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br/><br/>

    <a href="checkpw" title="Edit your detials"><button>Edit Details</button></a>

    <br/><br/>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="Delete" title="Permanently delete your account"
            onclick="return confirm('Are you sure you want to permanently delete your account?');">
        Delete Account
        </button>

    </form>

</body>
</html>
