{% load static %}
<html>
<head>
    <title>User Details</title>
    {% include 'header_.html' %}
</head>    
<body>
    <div class="topnav">
        <a href="/" title="Go to homepage" id="authhome">Home</a>
        <a href="/search" title="Search all apartments" id="authapt">Apartments</a>
        <a class="active" href="/login" title="Login here" id="authuser">Login</a>
        <a href="/" title ="Logout" id="authout">Logout</a>
    </div>

    <br/>

    <div>
        <a href="" title="View history of bookings and rentals" id="authuser1">Manage as a Guest</a>
        <a class="active" href="" title="View your apartments and manage bookings" id="authuser2">Manage as a Host</a>
    </div>

    <p style="color:red">{{ status|safe }}</p>

    <br/>

    <h2>My Apartments</h2>
   
    <a href="new-apt"><button>Add an Apartment</button></a>
    <br/>
    <table border=1>
        <thead>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Total Earning</th>
            <th>Listed</th>
            <th>Action</th>
        </thead>
        {% for apt in apartments %}
        <tr>
            <td> {{ apt.country }} </td>
            <td> {{ apt.city }} </td>
            <td> {{ apt.address }} </td>
            <td> {{ apt.price }} </td>
            <td> {{ apt.avg_rating }} </td>
            <td> {{ apt.earning }} </td>
            <td> {{ apt.listed }} </td>
            <td>
                <table>
                    <tr>
                    <td>
                        <a href="apartment/{{ apt.apartment_id }}"><button>View</button></a>
                    </td>
                    <td>
                        <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="apartment_id" value={{ apt.apartment_id }}>
                        <button name="action" value="edit-apt">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="apartment_id" value={{ apt.apartment_id }}>
                        <button name="action" value="unlist-apt">
                            {% if apt.listed %}
                                Unlist
                            {% else %}
                                List
                            {% endif %}
                        </button>
                        </form>
                    </td>
                    </tr>
                    </table> 
            </td>
        </tr>
        {% endfor %}
    </table>

    <br/>

    <h2>Approve Bookings</h2>
    <table border=1>
        <thead>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Total Price</th>
            <th>Action</th>
        </thead>
        {% for bk in bookings %}
        <tr>
            <td> {{ bk.country }} </td>
            <td> {{ bk.city }} </td>
            <td> {{ bk.address }} </td>
            <td> {{ bk.check_in }} </td>
            <td> {{ bk.check_out }} </td>
            <td> {{ bk.total_price }} </td>
            <td>
                <table>
                <tr>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tempbooking_id" value={{ bk.tempbooking_id }}>
                        <button name="action" value="approve">Approve</button>
                    </form> 
                </td>
                <td>
                    <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="tempbooking_id" value={{ bk.tempbooking_id }}>
                    <button name="action" value="delete">Delete</button>
                    </form>
                </td>
                </tr>
                </table> 
            </td>
        </tr>
        {% endfor %}
    </table>

    <br/>

    <h2>Upcoming Rentals</h2>
    <table border=1>
        <thead>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Total Price</th>
        </thead>
        {% for rental in rentals %}
        <tr>
            <td> {{ rental.country }} </td>
            <td> {{ rental.city }} </td>
            <td> {{ rental.address }} </td>
            <td> {{ rental.check_in }} </td>
            <td> {{ rental.check_out }} </td>
            <td> {{ rental.total_price }} </td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>
